<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
       
          
          
          
        </div>
      </div>
    
  <div class="container-fluid mt--12">
  
          <div class="card-body">
         
            
      
      <div class="col-xl-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h2 class="mb-0">Total orders</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
  
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Company</th>
                  <th scope="col">stock symbol </th>
                  <th scope="col">ESG Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    Apple
                  </th>
                  <td>AAPL</td>
                    <td><i class="fas fa-arrow-up text-success mr-3"></i> 46,53
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Microsoft
                  </th>
                  <td>MSFT</td>
                  
                    <td> <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Amazon
                  </th>
                  <td>AMZN</td>
                  
                    <td> <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Meta
                  </th>
                  <td>META</td>
                  
                    <td> <i class="fas fa-arrow-up text-success mr-3"></i> 50,87
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Google
                  </th>
                  <td>GOOG</td>
                  
                    <td> <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
