<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        
     
</div>
<div class="container-fluid mt--7">
  
        </div>
        
  <div class="row mt-8">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">About us</h3>
              <p>Welcome to ESG Scoring, where we believe in the power of sustainability and responsible business practices. Our mission is to empower businesses and investors with comprehensive Environmental, Social, and Governance (ESG) insights to drive positive change in the world.</p>
              <h4>Our Vision</h4>
              <p>At ESG Scoring, we envision a future where businesses operate with transparency, ethical values, and a commitment to the well-being of our planet and its inhabitants. We strive to be a catalyst for sustainable development by providing cutting-edge ESG scoring solutions that foster responsible decision-making.</p>
              <h4>Join Us on the Journey</h4>
              <p>
                Whether you're an investor looking for socially responsible investment opportunities or a business striving to improve its ESG practices, ESG Scoring is here to support you on your journey toward a more sustainable future. Together, let's build a world where businesses thrive by prioritizing people, planet, and ethical governance.
                
                Thank you for being a part of the ESG Scoring community!</p>
              <a routerLink="/esg-score" class="btn btn-sm btn-primary">   Explore</a>
            </div>
            
              
            </div>
          </div>
        </div>
       
          
        </div>
      </div>
    
   

